{% extends "layout/basic.html" %}
{% load filters %}

{% block content %}
<h3 class="text-primary" style="display:inline">Платеж № {{ payment.number }}</h3>
{% if 'inc/' in request.path or request.path == '/incoming/' %}
    <a href="{% url 'payment_update' payment.pk %}" role="button" class="me-2" >редактировать</a>
    <a href="{% url 'payment_delete' payment.pk %}" role="button" class="me-2">удалить</a><br><br>
{% else %}
    <a href="{% url 'payment_contractor_update' payment.pk %}" role="button" class="me-2" >редактировать</a>
    <a href="{% url 'payment_contractor_delete' payment.pk %}" role="button" class="me-2">удалить</a><br><br>
{% endif %}
<p><strong>Дата: </strong>{{ payment.date }}</p>
<p><strong>Номер: </strong>{{ payment.contract.number }}</p>
<p><strong>Статус: </strong>{{ payment.status }}</p>
<p><strong>Сумма: </strong>{{ payment.total_sum|currency }}</p>
<p><strong>В том числе сумма аванса: </strong>{{ payment.prepaid_sum|currency }}</p>
<p><strong>В том числе сумма удержаний: </strong>{{ payment.retention_sum|currency }}</p>

{% endblock %}

