{% extends "layout/basic.html" %}
{% load filters %}

{% block content %}
<div class="card border-secondary mb-4 overflow-auto">
    <div class="card-header d-flex">
        <h5 class="mb-0 me-2">{{ obj.name }}</h5>
        <a href="{% url 'contract_update' obj.pk %}" role="button" class="me-2">редактировать</a>
        <a href="{% url 'contract_delete' obj.pk %}" role="button" class="me-2">удалить</a>
        <a href="{% url 'act_add_to_ctr' obj.pk %}" role="button" class="me-2">+ акт</a>
        <a href="{% url 'payment_add_to_ctr' obj.pk %}" role="button">+ платеж</a>
    </div><!-- /card-header -->

    <div class="row p-3">
    <div class="col">
        <p><strong>Сумма: <span style="color: green;">{{ obj.total_sum|currency }}</span></strong></p>
        <p><strong>Проект: </strong>{{ obj.project.key }} ({{ obj.project.name }})</p>
        <p><strong>Статус: </strong>{{ obj.status.name }}</p>
        <p><strong>Процент удержаний: </strong>{{ obj.retention_percent|currency }}%</p>
    </div>
    <div class="col">
    <p><strong>Сумма материалов: </strong>{{ obj.material_sum|currency }}</p>
    <p><strong>Сумма работ: </strong>{{ obj.work_sum|currency }}</p>
    <p><strong>Аванс: </strong>{{ obj.prepaid|currency }}</p>
    <p><strong>Способ закрытия аванса: </strong>{% if obj.prepaid_close_method %} {{ obj.prepaid_close_method.name }}
                                                {% else %} ???
                                                {% endif %}</p>
    </div>
    <div class="col">
      <p>{{ obj.description }}</p>
    </div>
  </div>
</div> <!-- main card -->

<div class = "row">
    <div class = "col">
    <div class="card border-secondary mb-4 overflow-auto">
        <h5 class="card-header">Баланс договора</h5>
        <div class="card-body p-0">
        <table class="table table-hover text-nowrap table-sm m-0">
            <thead>
                <tr>
                    <th></th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Закрыто КС</th>
                    <td>{{ balance.0|currency }}</td>
                </tr>
                <tr>
                    <th>Оплачено</th>
                    <td>{{ balance.1|currency }}</td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td></td>
                </tr>
                <tr>
                    <th>НАМ ДОЛЖНЫ</th>
                    <td><span class = "text-primary">{{ balance.2|currency }}</span></td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /card-body -->

    </div> <!-- card -->
    </div>

    <div class = "col">
    <div class="card border-secondary mb-4 overflow-auto">
        <h5 class="card-header">ДДС</h5>
        <div class="card-body p-0">
        <table class="table table-hover text-nowrap table-sm m-0">
            <thead>
                <tr>
                    <th></th>
                    <th>Аванс</th>
                    <th>с КС2</th>
                    <th>Удержания</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Начислено</th>
                    <td>{{ cashflow.0.0|currency }}</td>
                    <td>{{ cashflow.0.1|currency }}</td>
                    <td>{{ cashflow.0.2|currency }}</td>
                </tr>
                <tr>
                    <th>Оплачено</th>
                    <td>{{ cashflow.1.0|currency }}</td>
                    <td>{{ cashflow.1.1|currency }}</td>
                    <td>{{ cashflow.1.2|currency }}</td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>НАМ ДОЛЖНЫ</th>
                    <td><span class = "text-primary">{{ cashflow.2.0|currency }}</span></td>
                    <td><span class = "text-primary">{{ cashflow.2.1|currency }}</span></td>
                    <td><span class = "text-primary">{{ cashflow.2.2|currency }}</span></td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /card-body -->

    </div> <!-- card -->
    </div>

    <div class = "col">
    <div class="card border-secondary mb-4 overflow-auto">
        <h5 class="card-header">Выработка</h5>
        <div class="card-body p-0">
        <table class="table table-hover text-nowrap table-sm m-0">
            <thead>
                <tr>
                    <th></th>
                    <th>Договор</th>
                    <th>Закрыто КС-2</th>
                    <th>Остаток</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Материалы</th>
                    <td>{{ working.0.0|currency }}</td>
                    <td>{{ working.0.1|currency }}</td>
                    <td>{{ working.0.2|currency }}</td>
                </tr>
                                <tr>
                    <th>Работы</th>
                    <td>{{ working.1.0|currency }}</td>
                    <td>{{ working.1.1|currency }}</td>
                    <td>{{ working.1.2|currency }}</td>
                </tr>
                                <tr>
                    <th>Прочее</th>
                    <td>{{ working.2.0|currency }}</td>
                    <td>{{ working.2.1|currency }}</td>
                    <td>{{ working.2.2|currency }}</td>
                </tr>
                                                <tr>
                    <th>ИТОГО</th>
                    <td>{{ working.3.0|currency }}</td>
                    <td>{{ working.3.1|currency }}</td>
                    <td><span class = "text-primary">{{ working.3.2|currency }}</span></td>
                </tr>



            </tbody>
        </table>
    </div> <!-- /card-body -->
    </div>
    </div> <!-- card -->
</div>


<div class="card border-secondary mb-4 overflow-auto">
    <h5 class="card-header">Сверка по договору</h5>
    <div class="card-body p-0">
    <table class="table table-hover text-nowrap table-sm m-0">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Документ</th>
                <th>Дебет (нам должны)</th>
                <th>Кредит (мы должны)</th>
                <th>Статус документа</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in recon %}

            <tr {% if rec.total %} class="table-info" {% endif %}>
                <td>{{ rec.date }}</td>
                <td>{{ rec.doc }}</td>
                <td>{{ rec.debet|currency }}</td>
                <td>{{ rec.kredit|currency }}</td>
                <td><span {% if not rec.status_ok %} style="color: red;" {% endif %}>{{ rec.status }}</span></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>
</div> <!-- sverka card -->

{% endblock %}

