<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if env.incoming_section %}
    <title>Мастерком digital :: ДОХОДЫ</title>
    {% elif env.contractor_section %}
    <title>Мастерком digital :: ПОДРЯДЧИКИ</title>
    {% endif %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<main class="d-flex flex-nowrap"> 

    <!-- Левая панель-->
    <div class="d-flex flex-column flex-shrink-0 ps-3 pe-3 pb-3 text-bg-dark sidebar sidebar-sticky" style="width: 260px;position: fixed;top: 0;bottom: 0;"> 
        <div class ="d-flex justify-content-center" style="height: 56px; ">
            <a href="{% url 'index' %}" class="d-flex justify-content-center align-self-center text-decoration-none">
                <span class="fs-5" style="color: #0099ff;">МАСТЕРКОМ </span>&nbsp<span class="fs-5" style="color: #ffa500;">digital </span>
            </a>
        </div>

        <hr class="mt-0">

        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-3">
            <a href="{% url 'index' %}" class="nav-link {% if env.incoming_section %} active {% endif %}" aria-current="page">
            Доходы
            </a>
        </li>
        <li class="nav-item mb-3">
            <a href="{% url 'partners' %}" class="nav-link {% if env.contractor_section %} active {% endif %}" aria-current="page">
            Подрядчики
            </a>
        </li>
        </ul>

        {% if debug %}
        <span class="fs-0" style="color: #00ff00;">тестовая база </span></span>
        {% endif %}
        <hr>

        <div class="dropdown">
            <a href="{% url 'index' %}" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <!--<img src="{% static 'incoming/avatar.png' %}" alt="" width="32" height="32" class="rounded-circle me-3 ms-2">-->
                <span class="fs-6">{{ user.first_name }}&nbsp{{ user.last_name }}</span>
            </a>

              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <!--<li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li> -->
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
              </ul>
        </div>
    </div> <!-- Левая панель-->


    <div class="container-fluid" style="padding: 0 0 0 260px;"> <!-- Правая панель-->
        <nav class="navbar navbar-expand-lg sticky-top justify-content-center navbar-light bg-light pt-2 pb-2" style ="border-bottom: 1px solid lightgray; ">
        <div class="container-fluid">
            <!-- Иконка для разворота меню-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if env.incoming_section %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" {% if env.analytic_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Аналитика</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'projects' %}" {% if env.project_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Проекты</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contracts' %}" {% if env.contract_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Договоры</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'acts' %}" {% if env.act_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Акты</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'payments' %}" {% if env.payment_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Оплаты</a>
                </li>
            </ul>
            {% elif env.contractor_section %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" {% if env.analytic_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Аналитика</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'partners' %}" {% if env.partner_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Партнеры</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contracts' %}" {% if env.contract_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Договоры</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'acts' %}" {% if env.act_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Акты</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'payments' %}" {% if env.payment_page %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %}>Оплаты</a>
                </li>
            </ul>
            {% endif %}
            </div>
        </div>
        </nav>

        <div class="container-fluid p-3">
            <div class="row mb-2 px-2">
                <div class="col-sm-6">
                    <h2 class="m-0">{{ env.header }}</h2>
                </div>
                <div class="col-sm-6">
                    <!--
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="#">Доходы</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Договоры</li>
                        </ol>
                    </nav>
                    -->
                </div>
            </div>

        	<div class="row px-2">
                <section>
                    {% block content %}
                    {% endblock %}
                </section>
            </div>


        
        </div><!-- /main content -->

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b69a0e73e3.js" crossorigin="anonymous"></script>
</main>
</body>
</html>

